 <link rel="stylesheet" href="css/account.css">
<div class="account-wrapper">
<div class="form-group">
  <fieldset disabled="">
    <label class="control-label" for="disabledInput">Disabled input</label>
    <input class="form-control" id="disabledInput" type="text" placeholder="1200" disabled="">
  </fieldset>
</div>
<div class="form-group">
  <fieldset disabled="">
    <label class="control-label" for="disabledInput">Disabled input</label>
    <input class="form-control" id="disabledInput" type="text" placeholder="EUR" disabled="">
  </fieldset>
</div>
</div>